.container {
    display: flex;
    gap: 5rem;
}

.title {
    color: $color-primary;
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    line-height: 1.2;
}

.label {
    width: 5px;
    background: linear-gradient(to bottom, $color-accent, $color-secondary);
}
