.container {
    display: flex;
    gap: 5rem;
}

.title {
    color: $color-primary;
    font-size: 1.5rem;
    font-weight: $font-weight-bold;
    line-height: 1.2;

    @media (min-width: $break-point-sm) {
        font-size: $font-size-lg;
    }
}

.label {
    width: 5px;
    background: linear-gradient(to bottom, $color-accent, $color-secondary);
    display: none;

    @media (min-width: $break-point-sm) {
        display: block;
    }
}
