.container {
    padding: 23rem 0 0 0;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    will-change: opacity, transform;

    &__year {
        color: $color-accent;
        font-weight: $font-weight-bold;
        font-size: 2rem;
    }

    &__description {
        color: $color-primary;
    }
}

.total {
    color: $color-primary;
    font-size: $font-size-base;

    &__container {
        padding: 0 0 1rem 0;
    }
}

.controls {
    display: flex;
    gap: 1rem;
    padding-bottom: 3.4rem;
}
