.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    margin: 0 auto;
    position: relative;

    @media (min-width: 575.98px) {
        max-width: 540px;
        padding: 0;
    }

    @media (min-width: 767.98px) {
        max-width: 720px;
    }

    @media (min-width: 991.98px) {
        padding-top: 10rem;
        max-width: 960px;
    }

    @media (min-width: 1199.98px) {
        max-width: 1140px;
    }

    @media (min-width: 1499.98px) {
        max-width: 1440px;
    }
}

.space {
    padding: 0 5rem;
}
